---
layout: page
title: News
---

{% include vars.html %}

<div id="news-content">
	<!-- active_language: {{ active_language }}; fallback_strings: {{ fallback_strings.navigation.news }}; strings: {{ strings.navigation.news }} -->
	{% for post in site.posts %}
		{% assign name = post.url | split: "/" | last %}
		{% assign id = post.lang_ref | default: name %}
		{% assign post_language = post.url | remove_first: "/" | split: "/" | first %}
		{% unless site.languages contains post_language %}
		{%    assign post_language = site.default_language %}
		{% endunless %}
		{% if post_language == active_language %}
			{% assign skip = false %}
		{% elsif post_language != site.default_language %}
			{% assign skip = true %}
		{% else %}
			{% assign skip = false %}
			{% for p in site.posts %}
				{% if p.url == post.url %}
					{% continue %}
				{% endif %}
				{% assign name = p.url | split: "/" | last %}
				{% assign id2 = p.lang_ref | default: name %}
				{% assign l = p.url | remove_first: "/" | split: "/" | first %}
				{% unless site.languages contains l %}
				{%    assign l = site.default_language %}
				{% endunless %}
				{% if id == id2 and l == active_language %}
					{% assign skip = true %}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endif %}

		<!-- skip: {{ skip }} -->
		{% unless skip %}
			<div id="{{ post.id }}">
				<h3>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h3>
				<i class="post-meta">
					Posted on {{ post.date | date: "%b %-d, %Y" }}
					{% if post.author %}
						by
						{% if post.authorWebsite %}
							<a href="{{ post.authorWebsite }}">
						{% endif %}
						<img
							src="{{ site.baseurl }}/assets/{{ post.author }}.jpg"
							alt="{{ post.author }}"
							width="40"
						/>
						<span
							itemprop="author"
							itemscope itemtype="http://schema.org/Person">
							<span
								itemprop="name">{{ post.author }}
							</span>
						</span>
						{% if post.authorWebsite %}
							</a>
						{% endif %}
					{% endif %}
				</i>
				<div>
					{{ post.excerpt | truncatewords: 50 }}
				</div>
			</div>
		{% endunless %}
	{% endfor %}
</div>
