<footer class="site-footer">

  <div class="wrapper">

    <div class="site-description">
      <p>
        {{ site.description }}
        <span class="version">
        </span>
      </p>
    </div>

  </div>

</footer>
