<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/fdroid-logo.svg" />
    <h1>{{ site.header-title }}</h1>
  </a>

  <nav class="site-nav">
    {% for nav-item in site.data.navigation %}
      {% if nav-item.key %}
        {% assign title = strings.navigation[nav-item.key] | default fallback_strings.navigation[nav-item.key] %}
        {% if nav-item.external %}
          <a class="page-link" href="{{ nav-item.url }}">{{ title }}</a>
        {% else %}
          <a class="page-link {% if page.url contains nav-item.url %} current {% endif %}" href="{{ nav-item.url | prepend: site.baseurl }}">{{ title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

</header>
