<h3>{{ strings.sidebars.search.heading | default fallback_strings.sidebars.search.heading }}</h3>

<div>
  <form method="get" action="https://search.f-droid.org/">
    <input type="search" class="search-input" name="q">
    <input type="hidden" name="lang" value="{{ site.active_lang }}">
    <input type="submit" value="{{ strings.sidebars.search.search | default fallback_strings.sidebars.search.search }}" class="material-button" />
  </form>
</div>
