<!DOCTYPE html>
{% include vars.html %}
{% include html-tag.html %}

  {% include head.html %}

  <body>

    <div class="site-wrapper">

      {% include header.html %}

      <div class="main-content with-sidebar">

{% if active_language == "ar" or active_language == "fa" or active_language == "he" or active_language == "ug" %}
        <div class="article-area" dir="auto">
{% else %}
        <div class="article-area">
{% endif %}
          {{ content }}
        </div>

        <div class="sidebar">
          <div class="sidebar-widget language">
            {% include sidebar-lang.html %}
          </div>

          <div class="sidebar-widget">
            {% include sidebar-search.html %}
          </div>

          <div class="sidebar-widget">
            {% capture donate %}{% include sidebar-donate.md %}{% endcapture %}
            {{ donate | markdownify }}
          </div>

          <div class="sidebar-widget">
            {% include sidebar-news.html %}
          </div>

{% if false %}
          <div class="sidebar-widget">
            {% include sidebar-lastupdated-packages.html %}
          </div>

          <div class="sidebar-widget">
            {% include sidebar-latest-packages.html %}
          </div>
{% endif %}
        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
